
body {
/*color: blue;*/
background-color: #eeeeee;
overflow: auto;
width:  100%
}

.desc {
color: blue;
width: 400px;
float: left
}

.desc ~ *{
float: left
}

.title {
color: green
}

image {
/*float: right*/
}

.clear {
clear: both
}
